.gokai_wrapper{
    text-align: center;
}

.chokurei_wrapper {
    text-align: center;
}

.seiheki_wrapper {
    text-align: center;
}

.honjyasounen_wrapper {
    text-align: center;
}

.daikoumyou_wrapper {
    text-align: center;
}